html, body
  margin: 0

@import '~milligram/dist/milligram.css'
@import './views/index.sass'

#app
  height: 100vh
  overflow: hidden
  display: flex
  flex-direction: column

  #app-content
    flex: 1
    overflow: scroll


input:-webkit-autofill
    -webkit-box-shadow: 0 0 0px 1000px white inset
