@import '../vars.sass'

#account
  width: 100%
  display: flex
  flex-direction: column

  .card-row
    flex: 1
    display: block

  .place-row
    display: flex
    justify-content: center

    h1
      margin-bottom: 0
      padding: $dimension-space

  .action-row
    display: flex
    justify-content: center
